[2019-01-13 10:27] jveitchmichaelis opened #1 "Data storage efficiency"
I would switch to storing raw data, rather than strings.

There is probably a significant overhead in doing a string conversion, because you're implicitly calling itoa a bunch of times. You'd be better off having three 16-bit arrays to store the accelerations and just putting the raw measurements in there each loop.

https://github.com/ammolytics/projects/blob/a298bcdd527d8e6c58dd9d642348ea717f7da

[2019-01-13 18:29] erichiggins commented on #1
Thank you for the feedback!

I knew that this section of the code was going to be hacky and inefficient, but it was "good enough" to make it usable for the experiment. Would you consider creating a pull request, or just simply providing some guidance on a better way to do it here?

I'd hesitate to remove this from the output since it's important to label the data. Is there another way to do it whi

[2019-01-13 19:21] jveitchmichaelis commented on #1
No worries! First thing I would do is profile. Strip out everything extraneous and figure out how fast you can poll the sensor - can you achieve the datasheet 5kHz, for example?

Something like:

[code]
You can check the overhead of using `getEvent` in a similar way:

[code]
The code for `getEvent` is here:

https://github.com/adafruit/Adafruit_LIS3DH/blob/17017f2d7d6b8cb19befb16168c864efb627b130/

[2019-01-13 20:33] erichiggins commented on #1
That's a great idea! Your examples use the `DEBUG_PRINTLN`, which is just a reference to `Serial.println()` when the `DEBUG` flag is enabled. As I noted in the article, calls to `Serial` are rather slow which would affect the performance test, but maybe it's good enough to get a sense of the speed difference.

Seems like something is missing here?

Great catch!

I see what you mean -- have a heade

[2019-01-13 20:36] jveitchmichaelis commented on #1
The print statements won't affect the timing, you only care about the stuff that happens between `start` and `stop` :)

Yeah that's what I meant for the CSV, you can shove that in your setup.

On your timestamp measurement: when you call `millis()` and `micros()` you're querying the time since the micro turned on. `Micros` will only overflow after 70 minutes ish which means there's not much point

[2019-01-14 18:26] erichiggins commented on #1
I did a quick test based on your suggestion, here are some results (very promising)!

Timing per-call:
- `lis.read()`: ~1375 microseconds
- `getEvent()`: ~1395 microseconds
- `rtc.now().unixtime()`: ~1000 microseconds

Total samples per second:
- `micros()`, `lis.read()`: ~585hz
- `micros()`, `lis.read()`, `unixtime()`: ~350hz
- `micros()`, `lis.read()`, `unixtime()`, `getEvent()`: ~198hz
-  `micr

[2019-01-14 20:16] erichiggins commented on #1
(Adding the following for myself)

**References:**
- [`SENSOR_GRAVITY_EARTH`](https://github.com/adafruit/Adafruit_Sensor/blob/master/Adafruit_Sensor.h#L36)
- [Raw acceleration conversion](https://github.com/adafruit/Adafruit_LIS3DH/blob/17017f2d7d6b8cb19befb16168c864efb627b130/Adafruit_LIS3DH.cpp#L170-L175) and [to m/s^2 (on Earth)](https://github.com/adafruit/Adafruit_LIS3DH/blob/17017f2d7d6b8cb

[2019-01-14 23:25] jveitchmichaelis commented on #1
Great. The main takeaway from that is that `getEvent()` is basically as efficient as just doing `read()`. So you might as well take advantage of the unit conversion because it only costs you a few microseconds.

What's interesting is that your read speed is really quite slow. I2C operates in fast mode at 400kHz. You want to transfer 6 bytes, plus probably another 4 bytes of overhead sending addres

[2019-01-15 15:37] erichiggins commented on #1
I looked into this a little bit and found some references that lead me to believe that it defaults to 100kHz.

- https://learn.adafruit.com/mcp4725-12-bit-dac-tutorial?view=all#increasing-the-speed-3-5
- https://github.com/adafruit/Adafruit_MCP4725/blob/master/Adafruit_MCP4725.cpp#L69
- https://www.arduino.cc/en/Reference/WireSetClock

Compare it to this, which should be lightning fast:

There was

[2019-01-15 20:23] jveitchmichaelis commented on #1
That does make sense, 1500 odd cycles for the divisions at 48Mhz shouldn't take long. So at 100kHz that might go some way to explain it (ie 800us just for the transfer). Without really looking at what the arduino i2c library is doing there might be other things going on in there that's slowing you down. If you have access to an oscilloscope or a logic analyser you can see what's happening on the b

[2019-01-16 18:39] erichiggins commented on #1
I've read some articles which state that calls like `digitalWrite` can be slow because of all the safety-checks they include. Here's one reference: https://stackabuse.com/speeding-up-arduino/

I have neither an oscilloscope or logic analyzer.

I know that I can chain multiple devices, but I'm not certain if that's true for SPI. The FeatherWing I'm using [adds RTC + microSD](https://www.adafruit.co

[2019-01-16 19:57] jveitchmichaelis commented on #1
Yeah digital write is much slower than directly using the pin registers. Though the I2C interface ought to be reasonably quick. Saying that I had similar problems on other platforms where there were large delays between SPI transfers.

SPI is mediated with the (well, a) chip select (CS) pin, so you connect all the sck/mosi/miso pins in parallel and each device has a separate CS. When you make the

[2019-01-17 18:11] erichiggins commented on #1
I made a bit more progress without much effort by setting `Wire.setClock(400000L);`

This moved me from ~400hz to ~650hz.

It also reduced the call time for `getEvent()` down to ~430 microseconds.

**Edit:**  Using [fast mode plus](https://www.arduino.cc/en/Reference/WireSetClock) moved the needle to ~750hz and `getEvent()` down to ~250 microseconds.  I tried 'high speed mode', but it doesn't seem

[2019-01-18 01:27] erichiggins commented on #1
One more update for the day.

Here's a small sample of the new data structure (formatted for readability):

| timestamp (s) | start (µs) | delta (µs) | accel x (m/s²) | accel y (m/s²) | accel z (m/s²) |
| -- | -- | -- | -- | -- | -- |
| 1547749706 | 123593 | 223 | 0.00 | 0.00 | 0.00 |
| 1547749706 | 125917 | 251 | -6.32 | 3.72 | 7.35 |
| 1547749706 | 126979 | 252 | -6.32 | 4.52 | 6.40 |
| 15477497

[2019-01-20 02:13] erichiggins commented on #1
A sample from today's experiment (zoomed in on one round fired).
**Note:** The acceleration axis label is incorrect. The data shown is in m/s².

<img width="1409" alt="screen shot 2019-01-19 at 6 11 30 pm" src="https://user-images.githubusercontent.com/507145/51434475-d2eab980-1c15-11e9-9045-1cf84aec0b19.png">

[2019-01-30 04:40] RipVW commented on #1
Greetings,  Have enjoyed reading your comments above as I have also been working on improving my sketch's sampling speed of an accelerometer.  I am using an Adafruit Feather Adalogger MO and the Sparkfun breakout board for the LIS331HH, which has a max reading rate of 1000 Hz.  My first attempt produced 62 Hz.  It turns out that I did most of the things suggested above and it reads much faster now

[2019-01-30 09:01] RipVW commented on #1
Changed the script to write the data to the SD card.  Writing the data to the buffer is keeping up with the 1000 Hz sample rate, but every so often there is a 4ms delay when the buffer is actually written to the card.  A 1000 sample buffer was collected at 938 Hz.  Then I took your suggestion and increased the I2C rate to 1000000 which increased the speed to 968 Hz.  A 10,000 sample collection too

[2019-02-06 15:08] sirspamalot opened #2 "Wiring guide"
I'd appreciate a small wiring guide as in "connect pin X to Featherboard pin Y" as it's not really obvious whether it has to be wired via I2C or SPI

[2019-02-06 15:18] erichiggins commented on #2
Hi!  I linked to the wiring guide provided by Adafruit in the README, but here's the link again in case you missed it.
https://learn.adafruit.com/adafruit-lis3dh-triple-axis-accelerometer-breakout?view=all

I didn't include one here because, frankly, they did a better job that I could have.

The code provided here utilizes I2C, but SPI is also an option -- you'll just need to change the code very

[2019-02-17 20:01] #2 closed, assigned to nobody

[2019-02-19 18:47] erichiggins commented on #1
@RipVW Thanks for sharing your results! I just merged the suggestions from @jveitchmichaelis into the master branch. I have not yet had a chance to go through all of your suggestions and add those (sorry).

Would you be interested in creating a Pull Request so that I can review your changes and make them available to everyone?

[2019-02-20 05:17] RipVW commented on #1
Hi Eric,
Thanks for writing.  You and I started similar projects, reading accelerometers as fast as possible, and started with a similar strategy, storing bulky strings on the SD card while being at the mercy of the SD card whenever it is busy for several milliseconds and refuses to accept more data.

We've both made a lot of progress since we started, but perhaps because I've had the luxury of sp

[2019-02-20 07:02] RipVW commented on #1
Topic 1: Compressing your data even more.

Part 1 - Eliminate storing data you don't really need.  The more you store, the more often the SD card is going to be busy moving your data from its buffer into permanent storage.   Before I question why you're storing so much information I have to admit that over 1/2 the stuff I store is just for troubleshooting and has nothing to do with accelerometer d

[2019-02-20 16:02] erichiggins commented on #1
@RipVW Thank you for sharing all of your thoughts in such great detail! I'll do my best to provide some background information here.

First, some GitHub pro-tips that you might find useful.

- Formatting is controlled via [Markdown syntax](https://guides.github.com/features/mastering-markdown/) (it's simple and easy to master with a little practice)
- A [Pull Request (PR)](https://help.github.com/

[2019-02-20 17:18] RipVW commented on #1
@erichiggins Thanks for the timely reply and Github pointers.  Will try to implement those going forward.

But first, I'd like to pick on you some more about all those digits you're storing.  The timestamp "1547749706", which I think has units of seconds converts to 429930+ hours.  I understand your reasons for storing the timestamp, but perhaps you could store the entire timestamp just once at th

[2019-02-20 17:36] erichiggins commented on #1
Haha, fair enough.

Yep. This format is known as a [Unix time](https://en.wikipedia.org/wiki/Unix_time) or Unix timestamp. Essentially, it gives you the date/time with an integer which represents the number of seconds since 00:00:00 Thursday, 1 January 1970.

This is a fair point. Having it in each row certainly improves some aspects of data analysis. For example, because the output of `micros()`

[2019-02-20 17:37] RipVW commented on #1
@erichiggins  Tried to do a pull request and was unsuccessful.  Either I'm missing something or it's because I don't have write privileges to your repository.  Perhaps you could open a pull request titled something like "Using struct to compress data" and then I think I'll be able to add comments and the code I promised.

[2019-02-20 17:46] erichiggins commented on #1
@RipVW Sure thing. You should have permission to create branches and PRs, but I'll get you started. I've created a new branch for you named `ripvw`.

https://github.com/ammolytics/projects/tree/ripvw

If you run `git pull` from your computer it should give you that branch.
After you make changes, you can run `git commit` to save them, and then `git push` to upload them.
Once there are changes in t

[2019-02-20 18:22] RipVW commented on #1
@erichiggins Thanks, will try that later on today.  But first...

Before going farther I should say that a lot of the progress I've made and inspiration I've had are due to this script written by Bill Greiman, the author of the SD Fat library.

(https://github.com/greiman/SdFat/blob/master/examples/LowLatencyLoggerADXL345/LowLatencyLogger.ino)

When I read the description of his program I thought

[2019-02-20 20:40] erichiggins opened #4 "Buffer acceleration data (while writing to SD)"
Currently, the [write-operation creates a 10ms delay](https://github.com/ammolytics/projects/blob/master/accelerometer/sensor_logger.ino#L189-L200) during which time acceleration data is no longer being collected.

Ideally, data would still be collected during this time so as to prevent any loss.

[2019-02-20 20:48] erichiggins opened #5 "Filter non-motion data"
As of today, the unit records data as long as it's powered on. For the purposes of firearm acceleration, the resulting dataset also includes time between shots when nothing is happening. This non-motion data isn't particularly useful, and wasteful in other ways:

- Takes up more space on the SD card
- Requires more write-ops
- Slows down data analysis (filtering is required)

Ideally, the sensor c

[2019-02-20 20:59] erichiggins opened #6 "Add post-processing capabilities"
One reader shared some helpful suggestions about some post-processing techniques that can be used to obtain other information from the accelerometer data.

Examples:
- Position
- Velocity

Copy/pasted rough notes from the reader:

[2019-02-20 21:02] erichiggins opened #7 "Sample at regular intervals"
As of today, acceleration data is collected as fast as possible. This means that sometimes there's a 1ms gap between samples, and other times it's 2ms. Ideally, samples should be evenly spaced.

**Note:** Other performance changes may be required before this is implemented. The unit could be configured to run faster, at which point, adding delays between samples will be a luxury feature.

[2019-02-21 02:52] RipVW opened #8 "Talking directly with the accelerometer"
In general each communication with a register on the accelerometer requires two bytes.  The first byte sent is the address of the register you wish to read or write.  The second byte is either the contents you wish to write into the register, or, if you're reading, the contents of the register being sent back to the processor.

Here's a bit of code I use to set the range on the LIS331HH  (This, an

[2019-02-21 03:00] RipVW commented on #7
@erichiggins On p.34 of the data sheet there are several sampling rates listed, one of which is 400 Hz.  It might be that this is fast enough if you're just visually inspecting the graph for pre-shot flinches.  If so, then priority could be shifted to buffering data while the SD card is busy.  You could set up an interrupt when the data is ready (every 2.5 ms) and while waiting for the interrupt y

[2019-02-21 03:01] RipVW opened #9 "Setting up a "data is ready" interrupt"

[2019-02-21 04:12] RipVW commented on #9
Oops - hit the enter key too soon.

Figuring this out took me a long time.  There are lots of examples for Arduino Unos and similar devices, but I didn't find much help for the Cortex MO.  Eventually I figured out the the Arduino Due, and (I think) Arduino Zero also have Cortex processors, so examples for those devices might also apply to the Feather.  Another, and embarrassing slow to materialize

[2019-02-21 04:20] RipVW commented on #9
In my script I use a while statement to take a certain number of readings.  I put the attachInterrupt statement just before the while.  Then just after the closing } of the while I put ` detachInterrupt(6);`

[2019-02-21 04:29] RipVW commented on #6
Integration tends to be a smoothing operation.  When acceleration is integrated to velocity the noise in the "a" data is (kinda sorta) averaged out and generally results in a smoother curve.  The same for integrating from velocity to position.  Differentiation tends to exaggerate every little bump or bit of noise, so going from position to velocity generally results in a relatively noisier curve.

[2019-02-21 04:57] RipVW commented on #6
Actually I came here to post my code for converting a file full of structs to a .csv file, but the above was a nice trip down memory lane.

I'm sure you know that opening a file, reading out one dataset, closing the file, converting that dataset to csv, opening a csv file, writing that one dataset, and then closing the csv file (then repeating all those steps until done) would be inefficiency bord

[2019-02-21 05:16] RipVW commented on #5
I think this would be very hard to do in real time.  Your 3DH does have a FIFO buffer, but only a few samples worth.  I doubt even the Cortex can store 30 seconds of data at 1+ kHz.  (I tried storing 500 lines of csv data in an array and things started getting really weird.)  On the other hand I think it would be easy to write a script that would sort through a huge data file, identify the shot ev

[2019-02-21 05:25] RipVW commented on #4
No problem.  I'm not ignoring this one, but the words aren't coming to me as easily as with the other subjects.  I think now that the others are written down it'll be easier to concentrate on this one.

I'm interested in what you thought about Bill Greiman's low latency data logging program.  My buffering methods aren't nearly as spiffy as his, but they work for 1 kHz and I think they'll work much

[2019-02-21 18:46] erichiggins commented on #4
@RipVW Just to clarify, I've filed all of these issues just to track the improvements I'd like to eventually make with this particular project rather than assignments for you specifically. So, please don't feel obligated. Hopefully others will show up and make some contributions as well!

[2019-02-21 23:24] RipVW commented on #4
@erichiggins That's understood.  I was thinking about all those things already so figured I might as well write it down.  I do feel like at some point I committed myself to sharing what I've learned so far that you might find helpful.  When I share how I did the buffering I'll feel like I'm done with that commitment.  After that, I still have some ideas to share and a willingness to answer questio

[2019-02-22 00:55] RipVW commented on #4
My comments on buffering will likely have 3 parts, but I'm not sure I'll have time for all three this evening.

1.  How I think the SD card works
2.  Circular Buffer design considerations
3.  Code for the buffer

#### How I think the SD card works
Inside each SD card is a processor, and 512 byte volatile buffer, and several gigabytes of 'permanent' memory.  Our scripts write several bytes at a tim

[2019-02-22 07:53] RipVW commented on #4
It seemed like the best way to illustrate the functioning of the circular buffer was to take a copy of your code and show what changes would have to be made.  I put that copy on the RipVW branch.

[2019-02-22 10:07] nalexopo commented on #1
Hello,

Concerning speed and efficiency for raw data storage. I made the above functions public in Adafruit_LIS3DH.h

uint8_t readRegister8(uint8_t reg);
void writeRegister8(uint8_t reg, uint8_t value);

and used them for setting up the sensor and reading values. In my project I use a microcontroller and  I sent data via WiFi and translate the raw data into accelerations of m/s2 on the backend on

[2019-02-22 15:56] erichiggins commented on #4
@RipVW Nice, thank you!  I just merged my PR so the master branch should have the latest changes. I believe you can run `git pull` from your local branch to keep things synced.

[2019-02-22 18:44] RipVW commented on #4
You are welcome.

[2019-02-22 19:08] RipVW commented on #1
@nalexopo  Great work.  I wish I had the skills to send the data over wifi.

The functions you made public look very useful.  I haven't been using the library because I prefer to read/write from the registers manually, which involves several lines of code.  Using your functions would make things easier to read.

Perhaps you can help me understand libraries.  Most of the libraries I've tried to use

[2019-02-23 12:23] jveitchmichaelis commented on #1
WiFi is surprisingly easy nowadays. Have a look at the ESP8266/ESP32 boards. They make it very easy to send data using TCP/UDP or using protocols like MQTT. There's also the Particle Photon which I like a lot. The downside of the ESP boards is that they can be a bit finnicky to set up and program.

There are a few factors involved.

EDIT: So I realised you were talking about the accelerometer, not

[2019-02-23 20:06] RipVW commented on #1
@jveitchmichaelis Glad to see you here again.  Thank you for taking the time to write a detailed and very helpful reply.

As a regular reader of the blogs on Hackaday et al I'm constantly reminded of the ESP boards, and their finicky reputation.  Have heard of the Photon but never checked it out.  Based on your recommendation I'll take a serious look at the Photon.

Your comments about libraries w

[2019-02-24 12:43] jveitchmichaelis commented on #1
@RipVW I put in my order on Mouser yesterday morning, so it should arrive this week :)

[2019-02-25 05:57] RipVW commented on #4
Have been meaning to mention that the circular buffer in the example code I sent does little in preventing or reporting the buffer being overwhelmed.  In both of our applications it seems better to carry on with logging rather than to stop unexpectedly.  When post processing the data file I check for missed readings, buffer overruns, etc.

[2019-02-26 04:55] RipVW commented on #9
Hooked up the 3DH tonight and can confirm that all of the above works and that writing 0x10 to CTRL_REG3 sets up the interrupt on INT1 when data is ready.

[2019-02-26 05:04] erichiggins commented on #9
Great!  btw, I learned why you were having issues creating branches. As it turns out, you may need to follow this workflow to create Pull Requests.
https://help.github.com/en/articles/creating-a-pull-request-from-a-fork

Hope it helps. Look forward to seeing what kind of sample rates you can achieve!

[2019-02-26 06:46] RipVW commented on #1
@jveitchmichaelis Got the LIS3DH hooked up tonight.  Luckily the similarities to the LIS331 meant not many changes to the script were required.  The script kept up at 1.6 kHz and rapidly emptied out the buffer once the SD card got done with each busy spell.

At 5 kHz it collected 2073 readings before the 600 row buffer overflowed, which is a lot better than I expected.  Having recently reduced the

[2019-02-26 07:03] RipVW commented on #9
Thanks.  Also want to thank you for the DEBUG idea.  Was getting ready to comment out lots of Serial.print statements to enable battery operation.  Read up on how your DEBUG strategy worked and added that idea to my script - a big time saver.  Also switched from SD.h to SdFat.h so that I can use the YYYYMMDDHHMM filename format like you do.  That way if I ever find my rtc chip, crystal, etc. the s

[2019-02-26 07:51] jveitchmichaelis commented on #1
@RipVW Had a quick look at the datasheet, I believe 5kHz is only available in 8 bit mode?

[2019-02-26 08:27] RipVW commented on #1
@jveitchmichaelis You are correct.  Am embarrassed to say that I was so focused on looking at the timing I didn't notice half of the data bytes were 0x00.  I remember reading that low power modes were reduced precision, but had guessed that meant 12 bit rather than 16 bit.  Looked through the datasheet again and couldn't find where it specified the reduced resolution was 8 bits.

[2019-02-26 08:36] jveitchmichaelis commented on #1
@RipVW yeah it's in Table 12.

Good going though. I'm not getting any toys until Thursday apparently, so I'll have a look over the weekend.

[2019-02-26 08:49] RipVW commented on #1
@jveitchmichaelis Thanks for pointing out Table 12, but either I'm being dense or we're looking at different documents.
[LIS3DH.pdf](https://github.com/ammolytics/projects/files/2904524/LIS3DH.pdf)

[2019-02-26 09:40] jveitchmichaelis commented on #1
@RipVW I'm looking at the datasheet here: https://www.st.com/en/mems-and-sensors/lis3dh.html

Looks like yours is an older revision (2010 vs 2016)

[2019-02-26 14:21] erichiggins commented on #9
I'm using I2C though I may switch it over to SPI today just to see if there's any performance increase.

[2019-02-26 16:29] erichiggins commented on #4
It looks like the library from Sparkfun for this sensor is more feature-complete than Adafruit.
For example, they support the built-in FIFO feature of the sensor, along with example code.
https://github.com/sparkfun/SparkFun_LIS3DH_Arduino_Library/tree/master/examples/FifoExample

I don't know if the libraries are interchangeable for use with boards from either manufacturer. It's a useful referenc

[2019-02-27 02:24] RipVW commented on #9
Would be interested to know how to set up another SPI.  I don't think I2C is your primary bottleneck at this time, but every place you can find a uSecond helps.

[2019-02-27 03:34] RipVW commented on #1
Thank you for taking time to straighten that out.  I wonder how many other old datasheets I've been using.

[2019-02-27 06:24] RipVW commented on #4
Thanks Eric, I'll take a look at that.

[2019-02-27 06:40] RipVW commented on #1
There's no use sending all of those 0x00's to the SD card so that shortened each data set by 3 bytes.  Original application required two accelerometers so a byte was stored with each data set to identify its source.  So with each data set shortened from 20 bytes to 16 bytes the script kept up a bit longer at 5 kHz before the buffer was overrun at 12,447 samples.

[2019-02-28 05:40] RipVW commented on #1
Realized that although I was only saving three bytes from the accelerometer instead of six, I was still reading all six bytes from the accelerometer.  There are two options for reading less bytes from the accelerometer, the first of which is to read 5 sequential registers  and ignore the low bytes.  Or read 3 registers individually which would require adding two more data requests.  I chose to rea

[2019-02-28 18:53] RipVW commented on #4
@erichiggins
Last night I learned that reading just 5 bytes of data from the accelerometer instead of 6 made a significant improvement to the script's speed.

As I understand the on-board fifo, there is no way to read just the 3 bytes containing data.  So, at 8-bit resolution, reading the fifo means getting 3 bytes of data, 3 empty data bytes, 5 commas, and a CR/LF.  In other words it requires rea

[2019-03-01 01:51] RipVW commented on #4
It occurred to me later today that the accelerometer's fifo buffer might output a stream of bytes, and it's the library that adds the commas and CR/LF.

[2019-03-04 04:30] RipVW commented on #1
@jveitchmichaelis Hope your 3dh showed up.  Wondering if you have any insights to share.

[2019-03-05 09:53] nalexopo commented on #1
RipVW what mcu do you use?  jveitchmichaelis guessed right I use esp32 and is fairly easy to send measurements via WiFi + mqtt, you can google one of the numerous tutorials. Esp32 is dual core at 80MHz and can easily sample at 5kHz rate even without reading sequential registers. In my project I chose 1344 Hz in order to have 10bit resolution.

The labeling is done for the packets since I send raw

[2019-03-05 09:57] jveitchmichaelis commented on #1
@RipVW Arrived, and then I realised that I hadn't thought about what I'd connect it to.. I think I have some knock-off Arduinos somewhere. :D

[2019-03-06 01:14] RipVW commented on #1
@nalexopo Thank you for your comment and tips.  Have been using an Adafruit Adalogger w/ Cortex M0, as the Arduino IDE is my comfort zone. It may be time to learn a new environment for the ESP32 or Particle Photon.  Would like to change one of the registers on the M0 but not sure if the Arduino IDE can do that.  So much to learn...  Is the ESP development environment very different from the Arduin

[2019-03-06 02:05] RipVW commented on #1
@nalexopo Realized I had asked you a question that I could Google.  Turns out the ESP can be used with the Arduino IDE.  Is that what you use, or is there other software you'd suggest?

[2019-03-06 07:53] RipVW commented on #1
@jveitchmichaelis Hopefully an Arduino will float to the top of your parts box.  Have read about Particle Photons et al for 4-5 hours.  To bad the mesh radio is 2.4 GHz.  The mesh would be perfect for the farm if it had the same range as LORA.

[2019-03-06 08:32] nalexopo commented on #1
There are two ways to program an ESP.

One is using arduino libraries and arduino IDE. I don't like arduino IDE much personally, so I use Microsoft visual studio + vMicro addon for arduino compatibility. The downsides of using arduino libraries is that you suffer a penalty on performance(i think someone measured it around -60% compared to freertos) and you cant exploit parallelism between the two

[2019-03-08 14:58] RipVW commented on #1
@nalexopo Thank you for the insights and encouragement.  It's nice to know some of the options.  Found a closeout sale on an ESP with LoRa board so have a couple on order.

[2019-05-01 23:46] erichiggins opened #14 "Add iOS support for Open Trickler app"
The Open Trickler is available for iOS through TestFlight using the following link:

https://testflight.apple.com/join/1XSoUPL3

It takes longer to develop iOS apps because Apple requires jumping through a few hoops, such as:

- Signing up for their [Developer Program](https://developer.apple.com/) ($99/yr)
- Using the [Apple ID associated with their Developer Program as the primary account](https

[2019-05-02 00:10] erichiggins opened #15 "Improve trickler performance (speed, accuracy)"
The speeds of the Open Trickler are [currently hard-coded](https://github.com/ammolytics/projects/blob/master/trickler/peripheral/trickler.js#L99-L106).

The trickler peripheral will need to be able to adapt to a few variables:
- Different trickler designs
- Different types of motors
- Distance from trickler to scale
- Scale refresh rate
- Different brands/types/shapes of powder
- Tilt of the tric

[2019-05-06 03:38] erichiggins opened #17 "Flakey connectivity with scale"
The connection between the Open Trickler unit (on a Pi) and the A&D scale is very flakey.  The failure to connect after boot seems nondeterministic. I've had success restarting the application with `pm2 restart opentrickler`, but not much else has worked.

[2019-05-09 13:43] spacegunr opened #18 "Mobile app does not update target weight when BT connection is re-established"
When the BT link is dropped (after Pi reset for instance), and then re-established, the target weight has not changed on the mobile app.  It appears that the Pi believes the target weight is zero (default value), and it will not start working until the target weight is changed on the app, at which point I think the target weight is re-sent to the Pi and then it starts to trickle.

[2019-05-09 16:19] erichiggins commented on #18
Thanks for filing this! I've noticed this as well -- I've worked around it by just hitting the + button then the - button to re-register the target weight with the controller.

One scenario I'd like to get your thoughts on:
If the mobile app is left running and then opened the next day for a different loading session, should it still show the last-set target weight? At what point should the target

[2019-05-09 17:53] spacegunr commented on #18
Your welcome :)  It was as much for you as it was for me to learn the process of how to file a bug ticket.

I would say let the mobile app keep the weight setting, but push that value back to the Pi once a BT connection is (re)-established.

[2019-06-04 22:45] #17 closed, assigned to erichiggins

[2019-06-05 06:09] erichiggins opened #20 "Web interface for Trickler"
The Open Trickler would benefit from a web-based UI (hosted at http://opentrickler.local) to allow:

- Users to control the trickler w/o a mobile app
- Admin functionality (firmware updates)
- Show a debug interface (logs, record of operations)

[2019-06-05 06:11] erichiggins opened #21 "Add powder-drop support"
Some folks have suggested adding support for an automatic powder drop, controlled by a servo. Anyone who has experience with this can chime in here with suggestions.

Since it's an optional feature, it should be treated as such in the software (controller and Mobile).

[2019-06-21 00:32] erichiggins commented on #14
Blocked by https://github.com/pauldemarco/flutter_blue/issues/276

[2019-06-23 00:40] erichiggins opened #24 "Move Bluetooth/Device connect to home screen"
Perhaps just search for and connect to the trickler when the app starts?

[2019-08-03 03:48] erichiggins commented on #15
PID controller references

- [Build a PID Controller with Python 2019](https://onion.io/2bt-pid-control-python/)
- [Probably the best simple PID tuning rules in the world](https://pdfs.semanticscholar.org/05b2/07a58365e1b19485ca82cac53bb8e9ea1025.pdf) (PDF)

[2019-10-25 19:52] GTMux opened #28 "Installation Problems"
This project is great! And I would love to bring it in our shooting club for these people who like accurate reloads. Unfortunately I'm not able to get the RPi Zero running due to problems during the installation process:

.
.
.
.

npm install

make: Entering directory '/home/pi/node_modules/bluetooth-hci-socket/build'
  CXX(target) Release/obj.target/binding/src/BluetoothHciSocket.o
In file includ

[2019-10-26 00:25] erichiggins commented on #28
@GTMux Thanks for reporting this!  If you have the complete installation log available, would you mind including it here in the ticket, or as a separate Gist? I think some critical information from the trace may be missing.

Lastly, can you provide a little bit of detail about your setup?

- Host machine (Mac, Windows, Linux):
- Raspbian version:

Thanks again!

[2019-10-26 06:37] GTMux commented on #28
Hi @erichiggins,
thanks for the fast response. Setup is:

- a Raspberry Zero W (armv6l)
- installed from an iMac (High Sierra / 10.13.6) using balenaEtcher to transfer the Raspbian image  (Raspbian Buster Lite, Version:September 2019, Release date:2019-09-26, Kernel version:4.19)

System setup started based on your description (rename, expand etc., update, install bluetooth bluez libbluetooth-dev

[2019-11-08 20:21] GTMux commented on #28
Anyone have any ideas?
I would be very happy about advice. :)

Thanks and best regards,
Ralf

[2019-11-08 20:26] erichiggins commented on #28
Sorry for the delay (I was traveling for work)!

I have some time this weekend to dig into this issue -- I'd first like to see if I can reproduce it.

The real solution, I believe, would be for me to provide a ready-to-flash image that has everything installed. That avoids this type of complication.

[2019-11-08 20:30] GTMux commented on #28
Thanks a lot - this would be great. I was close to ask you for an image. :)
Sorry to bother you with this problem...

[2019-11-15 17:55] erichiggins commented on #28
Just a quick update on this: I have made some significant progress on a pre-configured image. It's nearly there, just requires a few more tweaks. Once it's ready, I'll share a link for you to give it a try. If it works for you, I'll update this repo and docs w/ an official link to it.

[2019-12-07 00:32] erichiggins commented on #28
Another update: I know it's taking a while -- sorry about that! It's **very** close now.

More context: I'm using a system called [buildroot](https://buildroot.org/) to build a custom SD card image. [The manual is long and complex](https://buildroot.org/downloads/manual/manual.html), and it takes a few hours to run a complete build from scratch. So, it's not quite as easy as making a small change

[2019-12-07 17:14] GTMux commented on #28
Hi Eric,

thanks for the update. I keep my fingers crossed that you succeed.
Unfortunately, I have no idea how I could help with software related stuff...

[2019-12-14 08:07] erichiggins commented on #28
Great news! I just got bluetooth working!
It's late now, so I haven't tried loading the OpenTrickler software yet. I'll give that a shot tomorrow -- it's looking very promising so far!

[2019-12-15 17:35] erichiggins commented on #28
SUCCESS! I'll share an image file today along with some instructions. It'll help if someone can try it out and make sure it works on their end before I publish it to the world.

[2019-12-15 18:35] GTMux commented on #28
great - would be a pleasure for me to test it! :)

[2019-12-16 20:44] erichiggins commented on #28
[Test image file can be downloaded here](https://drive.google.com/open?id=1uTVCknwQI6sZAX_cFkh84gF3V91xCv71). Please be sure to read all of the following instructions and notes.

Please let me know if you have any questions, have any issues, or (hopefully) are able to get it working!

## Instructions

- Download the attached SD card image file
  shasum: `47910ee0389418c11f7afd112ec4d9cad7d5ce06`
-

[2019-12-18 01:34] erichiggins commented on #28
Quick update: I'm working on another image that addresses some of the missing features that I listed above. Namely:

- Addressable on the network at `opentrickler.local`
- Improved startup performance
- Logging (if connected to the device via SSH)

[2019-12-18 09:55] GTMux commented on #28
Hi Eric,

Thanks for your updates. I downloaded the image, decompressed it, brought it on the SD card using balena etcher with success. Due to the fact that my scale is currently borrowed by a friend I was not able to connect the scale.

Currently I can't establish a bluetooth connection and can't find the raspberry via bluetooth. Open trickler app: You are not connected to a device.

Is it necess

[2019-12-18 16:51] matsyngvelindgren commented on #28
IT WORKS SUPER NICE !!!
Awesome job man!!!
Many thanks and a big hug :-D

[2019-12-18 17:01] erichiggins commented on #28
@GTMux From the Android App, you need to connect to the unit. You do **not** need to pair with the app from your Bluetooth menu/system settings.

- Open the menu (top-left corner of the screen)
- Select "Bluetooth Devices"
- Tap the button on the bottom-right of the screen and it should try to connect
- On successful connection, you should see the readings of the scale on screen
- Then, go back to

[2019-12-18 19:28] GTMux commented on #28
@erichiggins Thanks for the information but this is what I did. The app isn't showing any device. Of course I tapped the button on the bottem-right of the screen a couple of times. :) Maybe because of my old Android Tab. I will try with a newer model in the following days.

![IMG_8405](https://user-images.githubusercontent.com/56837063/71116503-92544100-21d4-11ea-8345-e2da90f35c97.JPG)

[2019-12-18 20:11] erichiggins commented on #28
@GTMux That's interesting. A few things come to mind:

The Pi won't advertise itself on Bluetooth if it cannot detect the scale. The scale has to be plugged into it, turned on, and correctly configured.

Assuming a correct setup on the Pi/Scale, the question is: Is the problem the Pi or the Android app?
There are a few ways to find the answer to this. There's a free Android app called [nRF Connect

[2019-12-21 23:18] cyclepath37 commented on #28
I was having the same issue as GTMux and then noticed only the boot partition was on the sd card. I’m not sure what i am doing wrong.

[2019-12-21 23:37] erichiggins commented on #28
@cyclepath37 Which operating system are you using? Windows and Apple computers won't be able to see all three, but the `boot` and `code` should both be visible.

As long as your using the balena etcher program to flash the SD card, it should create the same result.

Did you configure your scale using the instructions listed in my article?

[2019-12-21 23:47] cyclepath37 commented on #28
Windows and using balena etcher as suggested. Only showing boot if i etch with or without decompressing.
I have an A&D HR202i, but have it configured the same as you show with the fx120.

[2019-12-21 23:55] erichiggins commented on #28
@cyclepath37 I'm not familiar with that particular model, so you may want to double check the manual to verify that it's RS232 interface operates the same way. For the sake of this conversation, let's assume it does for now.

Potential causes:
- Incorrect serial to USB adapters (they aren't all the same, even with identical physical connections)
- Scale not plugged in and turned on before booting

[2019-12-27 21:29] Shooter0423 commented on #28
@erichiggins thanks for the updated image. I loaded to two different RPi Zero W's with different brand SD cards (1 16g, the other 32g) both connected to the scale  and worked to ready the scale value in the startup are. My issue comes in 2 parts.
1) After the initial success with the 2 setups, they developed a inability to connect, it was getting late so I shut everything done. tried it just now a

[2019-12-27 23:37] erichiggins commented on #28
@Shooter0423 Glad you were able to get them working fairly easily -- now to see if we can figure out some of the issues you've run into.

Let's start with the motors not running. The reason I changed the control pin from 15 to 12 was to allow the use of PWM (Pulse Width Modulation) control on the motors.

Here's a [pin out diagram for the Pi Zero W](https://pinout.xyz/pinout/io_pi_zero). Note that

[2019-12-28 05:41] Shooter0423 commented on #28
Thanks for the quick response. I had debugged the issue the way you described but the real culprit turned out to be a bad solder joint. So everything is up and running. The Bluetooth connection seem to need more time than I’m allowing, I think that will eliminates the problem, I’ll let you know.

Sent from my iPhone

[2019-12-28 23:50] erichiggins commented on #28
@Shooter0423 Great! If you are able to reproduce the bluetooth issues, go ahead and open a new issue here on GitHub so we can track it separately.

@GTMux @cyclepath37 Have either of you had luck getting yours working?

[2019-12-29 00:07] GTMux commented on #28
@erichiggins: thanks for the update. As mentioned I‘m still waiting for the scale. When the scale arrives back at my home I‘ll let you know directly.

[2019-12-29 00:30] cyclepath37 commented on #28
Still stuck. I confirmed the fx & hr202i balance RS232 pins are the same. Does it need the entire breadboard motor circuit connected for the bluetooth to work? I am using an old dandy trickler and haven’t tied it in yet, so i have been trying to connect with just the bare pi zero without the motor circuit.

[2019-12-29 00:45] erichiggins commented on #28
@cyclepath37 The Pi doesn't try to detect the motor circuitry at all (not even sure if that's possible), so you should be fine without it. The Pi only waits for a scale to be detected and the bluetooth drivers before it advertises itself so that the app can connect to it.

Did you [follow these instructions to configure your scale](https://blog.ammolytics.com/2019-04-30/diy-smart-trickler.html#pre

[2019-12-31 03:43] Datakalu commented on #28
Having the same result as GTMux and cyclepath37. Flashed the test image using Windows & balena, fx120 connected and configuration confirmed. Pi does not advertise on Bluetooth.

[2019-12-31 06:06] Shooter0423 commented on #28
Seems like I'm having a little better go at it then @GTMux,  @cyclepath37 and @Datakalu. I'm working with 2 different RPi Zero W's, one has been problematic from the beginning in regards to the Bluetooth connection. #1 would connect on startup only some of the times, like 1 in 10 on average. #2 will connect on startup most of the time, but sometimes it may take 2 or 3 startups (once as many a 5 th

[2019-12-31 15:19] chaseerickson12 commented on #28
@erichiggins I’m having the same problem as everyone above. @Shooter0423 does the pi require a 16 or 32g sd? I’ve tried a 4 and a 8g and can’t get anything to work. I’m going to pick up a 16g after work and a usb to micro adventure adapter and see if that makes a difference over using a micro sd to sd adapter. Is the any way to test to make sure your on the right trail.

[2019-12-31 21:53] Shooter0423 commented on #28
@chaseerickson12 I was trying to run 2 pi's. One has a 16g standard Kingston, the other a 32g Ultra Scandisk. I swap the cards back and forth in the good working pi, as they both have the new image as supplied by @erichiggins recently. I use the adapter that comes with a micro card, have several laying around, don't think that matters. Anyway in my case it doesnt matter. Are you downloading the co

[2019-12-31 22:07] erichiggins commented on #28
Thanks to everyone for keeping me posted -- I know it can be frustrating but it really does help a lot to get feedback like this so that I can focus on the right problems that will work for everyone. Also thanks to @Shooter0423 for chiming in, helping others, and sharing your experience!

I think the biggest issue is that **we're flying blind**.

The only debugging info you have available is wheth

[2019-12-31 22:08] erichiggins commented on #28
@chaseerickson12 A 4GB or 8GB card should be fine. It would probably even work on a 1GB card, though I haven't tried it.

[2019-12-31 22:53] Shooter0423 commented on #28
Thanks @erichiggins, glad to help. I think viewing a log will pay dividends faster. The mobile app is working good enough.

[2019-12-31 23:55] Datakalu commented on #28
I have the wrong USB to Serial cable. I suspect that’s my problem and I’ll let you know how it plays out when I have the correct cable.

[2020-01-01 01:55] chaseerickson12 commented on #28
@Shooter0423 I have not been decompressing the file. Ill give it a shot. Im interested to hear if @Datakalu serial cable was the problem

[2020-01-01 03:31] chaseerickson12 commented on #28
https://www.amazon.com/gp/product/B075XHWVSJ/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=ammolytics0f-20&creative=9325&linkCode=as2&creativeASIN=B075XHWVSJ&linkId=7c662ec9d4021bf3c1374f86ff1b9b0d

Do we need to be using a usb to serial that requires this adapter? The one I purchased from the recommended list didn’t require this to be plugged in. Or could this be the problem that I’m experiencing

[2020-01-01 04:18] erichiggins commented on #28
@chaseerickson12 Yes, you do need that actually. I know that you can connect the cables without it, but the adapter doesn't change the male/female interface, it changes the pin wiring arrangement. The A&D scales use a rather strange wiring setup which requires this in order to work.

[2020-01-01 04:35] chaseerickson12 commented on #28
@erichiggins i think I’m slowly eliminating my problems one at a time lol 😂. I’ll report back now that I’m trying the adapter

[2020-01-01 05:16] chaseerickson12 commented on #28
@erichiggins i can get Bluetooth connection 👍🏻 Now time to figure out where my wiring is messed up lol so the trickler works. If any of you used a mini solderless breadboard if you can post a photo that would be appreciated. I’m not 100% on if I followed the diagram on the main directions correctly.

[2020-01-01 08:26] erichiggins commented on #28
@chaseerickson12 let's follow up on that over email tomorrow. Send me photos of what you have and I'll see if I can help sort it out.

[2020-01-04 07:59] erichiggins commented on #28
# Update
I've made the logs available via web browser on the OpenTrickler with the following uSD image for the Pi. After you flash the uSD card with the following image, you will need to modify the `boot / wpa_supplicant.conf` file with the details for your WiFi network so that the Pi can connect to it.

Once booted, you can view the logs by visiting [`http://opentrickler.local/`](http://opentrick

[2020-01-04 15:25] Datakalu commented on #28
Haven’t flashed the latest image but I’ve install the correct serial cable and was able to connect on a couple of occasions. However, it drops the connection before I can run the motor circuit.

[2020-01-04 16:38] Datakalu commented on #28
Motor circuit runs, turns out it was me when returning to the main screen. Haven’t thrown powder yet but works as described. Bluetooth connection is hit and miss.

[2020-01-04 17:42] erichiggins commented on #28
@Datakalu The logging capability in the latest image should give more insight as to why you may be having Bluetooth connection issues. I've seen a couple occasions where the USB/Serial driver acts strangely.

[2020-01-04 19:04] Datakalu commented on #28
@erichiggins I’ve never played around with tech projects like this and it’s been an education getting to this point. I’ll keep slowly chipping away at it but I’m learning as I go. Great project and support, thank you!

[2020-01-04 20:53] erichiggins commented on #14
A build of the iOS app is working and available through Test Flight.
Anyone interested in trying it out can get access here:
https://testflight.apple.com/join/1XSoUPL3

[2020-01-04 20:54] erichiggins commented on #20
Logging capability via web browser has been added to the Alpha image in #28

[2020-01-04 22:56] erichiggins opened #29 "Mobile App UI Redesign"
Using what I've learned from using the mobile app for several months and hearing from others, I think a UI redesign could help solve several key issues.

- The Bluetooth connection screen is hard to find
- The App stores values, but so does the Pi. A disconnect/reconnect confuses the state
- Multiple OpenTrickler (pi) devices should be supported
- If the Bluetooth connection fails during usage, it

[2020-01-05 20:12] Shooter0423 opened #30 "Start Up Log/Status Indicator"
Have a questions about the new image, and a question about an Improvement?
1) New image allows for changing password, restoring network security as before?
2) With the log file I can see 3 status situations that have to be true to work correctly. A) TRICKLER, B) SCALE and C) BT. I found 3 variables that are set to TRUE, TRICKLER_READY, BT_READY, TRICKLER.scale.ready when ready. I assume the event

[2020-01-05 21:17] erichiggins commented on #30
Thanks for the suggestions!

You can actually already change the root password now, if you wish, by running the `passwd` command on the Pi.

Example terminal output (as run from an OSX or Linux computer):
[code]

But your point is still a good one. The production image will likely just disable logging into the device entirely to help lock it down, but I'll also offer a development image for the te

[2020-01-05 22:50] Shooter0423 commented on #30
I will work on the status leds, I see how you did the pin assignment in the config file, probably put the script in discrete  file and use ‘require’ . I am slowly figuring this out, good simple place to start. Got some ideas for a powder drop also.

Sent from my iPhone

[2020-01-08 16:14] MrMr-No commented on #28
Can we get  Pi password?

[2020-01-08 16:33] erichiggins commented on #28
@MrMr-No Yes! I actually shared it in [an earlier post on this thread](https://github.com/ammolytics/projects/issues/28#issuecomment-566235134).

[2020-01-11 19:40] itchyTF opened #31 "IOS problems or generic?"
Not sure if I was supposed to start a new issue or tag along with #28.

With help from Eric I was able to get my IOS app to work ONCE.  That was after I configured the scale (except  for the units). It became obvious that I needed to configure the units after I tried using the app and looking at the logs.  After setting the units I wasn't able to get a connection again.  Eric said the serial conne

[2020-01-12 20:29] itchyTF commented on #31
Tried again today.  First try no Bluetooth connect.  Checked the scale configuration - OK didn't change anything.  Power cycled the Pi, got the same error at the bottom of the boot sequence -
ttyusb0: p12303_get_line_request - failed: -32
but this time I got a Bluetooth connection!  What gives?  Still nothing out of pin 12 after hitting Go button.  Put a 100 grain target in the app with 7 grains o

[2020-01-12 22:44] erichiggins commented on #31
Let's separate a few things so they are easier to understand and therefore, debug.

- The OpenTrickler software that runs on the Pi will only "advertise" itself on Bluetooth **after it detects the scale**. (checks every 250ms)
  [Reference in code](https://github.com/ammolytics/projects/blob/develop/trickler/peripheral/lib/index.js#L61-L69)
- If a scale is never detected, it will **never** adverti

[2020-01-12 23:38] itchyTF commented on #31
Thanks for the reply.
It seems to me that separating dependencies, where possible, would be
preferable.  Might make debugging easier.

What does the code look for when detecting the scale?

I haven’t modified the ecosystem file and I’m monitoring pin 12 with a
scope.  Initially at 20ms/div then 50.  No activity.  Don’t know the on/off
periods but I figured I’d see something in a total of 200 or 50

[2020-01-13 00:35] erichiggins commented on #31
The [OpenTrickler Pi code thinks the scale is "ready" when](https://github.com/ammolytics/projects/blob/develop/trickler/peripheral/lib/and-fxfz.js#L155-L164):

- `weight` reads a number
- `unit` reads a valid option
- The scale reports as "stable"
- The scale has been "stable" for at least one second.

The [speeds are defined here](https://github.com/ammolytics/projects/blob/develop/trickler/peri

[2020-01-13 00:46] Shooter0423 commented on #31
@erichiggins just wondering, does the program keep checking while open trickler is running that the scale and bt are ready or is that code that you noted as "Reference …" only running when starting up.

[2020-01-13 01:33] erichiggins commented on #31
@Shooter0423 As mentioned, it keeps checking every 250ms until the scale is "ready'.
The code linked is also what you'd see in the logs where it keeps checking over and over.

[2020-01-13 01:44] itchyTF commented on #31
I believe there is a difference between precision and resolution.  Couldn’t
find precision in the specs.  In case you meant resolution it’s about .02
grains.  So I had a target weight of 100 grains with 7 grains on the
scale.  According to your code it looks like the speed would be very fast
with a period of 140 ms.  I should have seen 1 period at 20ms/div and 3-1/2
periods at 50ms/div.

On Sun, J

[2020-01-13 22:37] itchyTF commented on #31
App was working for a while.  Did disconnect by itself.

I guess my learning curve is steeper that it should be.  When entering a target weight I saw that keyboard button appear but didn't realize that is what sends the weight to the Pi.  I thought tapping on the units also sent the data.  Another Duh!  Doing that I finally saw pulses!!

Eric, I believe you said the ticks are the weight difference

[2020-01-13 22:55] erichiggins commented on #31
FYI: I'm traveling for work this week and will be slow to respond.

Excellent!

You were right w/ your correction -- I meant resolution. It's 0.02 gr and 0.001 g.

Pull the microSD out of the Pi, plug it into your computer and change the stuff in the `code` partition to work however you like.

[2020-01-13 23:13] cyclepath37 commented on #28
Update: I continued to struggle with bluetooth connection loss as many others had also. It would connect, then drop and sometimes take several attempts to reconnect, followed by dropping it again. I ended up ordering a different serial cable.
It must have been the cable because the new cable has connected right away with no loss after running it for 20 minutes!!!!
Here is the cable I ordered
USB t

[2020-01-14 19:53] itchyTF commented on #31
Put the sd card in computer and it comes up as Boot(E:). No sub drives but
an overlay folder, no code folder.

On Mon, Jan 13, 2020 at 5:55 PM Eric Higgins <notifications@github.com>
wrote:

[2020-01-14 21:33] itchyTF commented on #31
Got a chance to play with it today.  It took a few power cycles before I got a BT connect.  Tried putting the SD card in the windows computer to edit the motor speeds but all I saw was boot(E:) and an overlay folder.  No code "drive" or folder.

Decided to try the Mac and code showed up.  Now I can play.

Looks like the weight delta x 100 = ticks.  At least while in grains.

[2020-01-15 01:35] Shooter0423 commented on #31
Hey @itchyTF
Not sure what you're wanting to change.  But if you are wanting to change how the trickler behaves, look in the file, trickler.js. You will see how the vibro motor steps through multiple "speed". I built my own trickler body and stand and im using Tac for powder. Tac is pretty fine as compared to stick powders like varget. I think it will work, but I would rename the original trickler

[2020-01-15 16:37] itchyTF commented on #31
Shooter - (below comment to Eric)

Eric - While reading up on PWM again in the Broadcom spec I came across this and was wondering if it might have anything to do with the flakiness of the scale or Bluetooth connection.  (Didn't know how to do superscripts here).

  **1.3 Peripheral access precautions for correct memory ordering**
The BCM2835 system uses an AMBA AXI-compatible interface structure.

[2020-01-15 17:07] erichiggins commented on #31
@itchyTF You didn't provide references, but [I think I found what you were citing](https://www.petervis.com/Raspberry_PI/Raspberry_Pi_Serial_Port_Interface_Console/Raspberry_Pi_Serial_Port_Interface_Console.html).

What this is talking about is the serial/UART interface that's available on the Pis through the GPIO pins. That's not the same as accessories connected through the Pi's USB port, like w

[2020-01-15 17:19] itchyTF commented on #31
@erichiggins  Sorry, should have provided a reference.  It was section 1.3 in [https://www.raspberrypi.org/app/uploads/2012/02/BCM2835-ARM-Peripherals.pdf](url)

[2020-01-16 15:53] itchyTF commented on #31
@erichiggins    I was thinking the above reference might apply to doing "reads" from the USB port and the BT area.

[2020-01-16 18:33] erichiggins commented on #31
@itchyTF what it's referencing applies more accessories that plug onto the gpio pins, like "shield" boards, or other on-board peripherals. If the Pi couldn't use USB and Bluetooth at the same time, they'd have real issues.

I have some ideas that may help with the stability issues that I'll try when I get back from this trip. If you're looking for a technical project to dig into in the meantime, y

[2020-01-16 18:38] itchyTF commented on #31
repo must be short for something. ?

On Thu, Jan 16, 2020 at 1:33 PM Eric Higgins <notifications@github.com>
wrote:

[2020-01-16 18:40] erichiggins commented on #31
Yes. Repo is short for repository, as in source code repository. That's what GitHub is.

This is what you're looking for:
https://github.com/ammolytics/projects/tree/develop/trickler/peripheral/lib

[2020-01-16 22:19] itchyTF commented on #31
Some observations / comments while experimenting with the pulse widths.

I had a target weight of 5 gr and the trickler stopped at 4.60 for quite a while.

Might be handy to set up different cases  (pulse widths/periods) and/or motor speeds for different powder types (long stick, short stick, flake, ball, etc.).

Pulse widths and periods are unstable.  My intended 4ms On/ 21 ms Off resulted in 5.3

[2020-01-17 16:01] itchyTF commented on #31
@erichiggins  Here is one of the videos.  No point of adding any more, the others were at different duty cycles but acted the same.  The trigger point is at the first division, everything else is referenced to that.

![Pulse jitter](https://user-images.githubusercontent.com/59775783/72626036-eeb39900-3917-11ea-9f6a-2705f5492e3c.gif)

[2020-01-17 16:21] itchyTF commented on #31
@erichiggins You mention in your video what cup you use with the scale to catch the powder but I couldn't make out what you said.  Who makes it?

[2020-01-20 22:04] itchyTF commented on #31
@erichiggins , @Shooter0423
A FWIW - Regarding a Dandy trickler
While playing around with pulse widths and periods I noticed while on the single kernal setting the height of the reservoir makes a big difference.  With the reservoir almost at the top of the rod the trickle was single kernal but when it was lowered close to the bottom it sped up considerably.  If I think about it, it makes sense.  J

[2020-01-22 18:15] erichiggins commented on #31
@itchyTF Let's keep the conversation in this thread on the original topic. It sounds like you did have some success connecting to the new PI image using the iOS app from TestFlight -- that's great!

I know there is still work to be done to enhance the reliability of that connection, but that's more on the Pi side than on the iOS side.

I'm closing this particular ticket out for now. Here are links

[2020-01-22 18:15] #31 closed, assigned to nobody

[2020-01-23 02:42] Shooter0423 opened #32 "TestFlight/IOS App"
Sorry for being dense, but I am not figuring out how to test the IOS App. I have TestFlight installed on my from, but where do I (or how do I) get an invitation code.
Thanks

[2020-01-23 02:53] erichiggins commented on #32
No problem, I linked to it from #14 but here ya go!
https://testflight.apple.com/join/1XSoUPL3

[2020-01-23 06:02] Shooter0423 commented on #32
Thanks, that worked. For some reason using the link inside the email did the trick. Like the IOS keypad better, unit didn’t seem to display correctly on my screen, just saw a “g” assuming it should 2 characters.

Sent from my iPhone

[2020-01-23 13:06] Shooter0423 commented on #14
Like the IOS keypad better, weight unit didn’t seem to display correctly on my screen, just saw a “g” assuming it should 2 characters. The value changed so it was obvisously doing the math for the conversion from grams to grains.

[2020-01-23 13:07] #32 closed, assigned to nobody

[2020-01-23 13:33] Shooter0423 commented on #30
I have had success with implementing status LED's. 3 led's and current limiting resistor fit pretty easily on the perma-proto bonnet. I edited the ecosystem.config.js file to declare the pin assignments and modified the index.js file in the "lib" subfolder to initialize the pin LOW and then set to HIGH when TRICKLER_READY is TRUE, TRICKLER.scale.ready is TRUE and BT_READY. Currently this only indi

[2020-01-23 16:14] erichiggins commented on #30
@Shooter0423 Great! If you'd like to create a pull request and some wiring advice, I can review and add it to the project for others to benefit from!

[2020-01-23 16:15] erichiggins commented on #14
The app supports both grams (g) and grains (gr), the button toggles between them. In the redesign, this will be more obvious.

[2020-02-03 03:21] Shooter0423 commented on #28
Update:
I have been having intermittent connection problems. Most of the time the Bluetooth would connect but the trickler program and the scale would not report TRUE and the program would stay in a loop and never connect. I would cycle the power to the RPi and let the program start over.  Generally after 2 or 3 tries it would connect and all would be good. I followed @cyclepath37 cable suggestion

[2020-02-03 04:26] erichiggins commented on #28
@Shooter0423 Interesting! Thanks for the update! I'll order one of these cables and try it out, then update the parts list. So happy that the community was able to find a great solution for this one!

[2020-02-04 03:47] Shooter0423 commented on #28
@erichiggins
I think the cable definitely fixed my connection issues. More starts and restarts today, working every time. I have the led code to monitor startup embedded in the Index.js file and the led's will even turn on in different orders as the program is retrying to establish connections. Interesting situation, if you forget to turn on the scale, the BT will connect, program and scale will r

[2020-02-06 01:44] Datakalu commented on #28
I ordered the Cable Creations cable as well and I am no longer experiencing Bluetooth issues. So far it’s been 100% and connecting quickly. Thank you @cyclepath37 & @Shooter0423 !!! Moving forward and starting to build a Dandy style trickler for the system.

[2020-02-06 02:09] Shooter0423 commented on #28
@Datakalu great news, haven't heard any news from @erichiggins about his experience with the new cable. We owe a bit of thanks to @cyclepath37. If you start a new thread about your trickler build, i'll post a couple pictures of a trickler I built out of gray pvc conduit connectors (iirc about $5 maybe $7) and eric's vibro-motor circuit

[2020-02-06 16:57] MrMr-No commented on #28
I  activate stepmotor only when I need need more then 30 grains

 case (tickDelta > 1499):
        this.motor.speed = SPEEDS.VERY_FAST

...
....

drv8825 working very well :)

[2020-02-06 19:17] erichiggins commented on #28
I ordered a new cable, but I'm out of town for work and won't get a chance to try it until tomorrow.

Thanks to everyone for sharing their feedback & suggestions, generally helping each other out and being awesome!

[2020-02-06 19:22] erichiggins commented on #28
@Shooter0423 Two ways to share your code changes:

1. You can create a public Gist here on GitHub. Very easy.
  https://gist.github.com/
2. You can create a [Pull Request](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/about-pull-requests) to add your changes into the repo. I can review it, suggest changes, then merge it.

Don't hesitate to email me if you need some

[2020-02-06 23:33] Shooter0423 commented on #28
@MrMr-No, great idea to put it in as another speed option.  I have struggled to keep it from double throwing in shouldGo or startWhenReady.  Are you setting up a function for the stepper code and calling it and are you using setIntervals or msleep/usleep.  My coding skill with js is poor, any code you want to share will be greatly appreciated.

[2020-02-07 07:34] MrMr-No commented on #28
From case i calling pythonshell cod and using python to run step motor. First check if requested weight is more then 30 grains then and scale is set to 0 .

case (tickDelta > 1499 && this.scale.weight === 0  ) :

      let {PythonShell} = require('python-shell')
PythonShell.run('/home/pi/projects/trickler/peripheral/lib/steper.py', null, function(err) {
  if (err) throw err
  console.log('finished

[2020-02-09 21:33] erichiggins commented on #15
This seems like a useful resource

https://pidtuner.com/

[2020-02-09 21:35] erichiggins commented on #28
@cyclepath37 I got the new cable  -- are you using it with the adapter, or just connected directly to the scale?

[2020-02-09 21:44] cyclepath37 commented on #28
@erichiggins I use the null modem adapter, and I ended up getting a 90degree adapter also since i have my scale pushed up against the wall. StarTech.com Right Angle DB9 to DB9 Serial Cable Adapter Type 2 - M/F (GC99MFRA2) https://www.amazon.com/dp/B001S2PYV4/ref=cm_sw_r_cp_api_i_rVhqEbJXQ41NM
![82D06728-983F-4016-BE3D-9331830155A9](https://user-images.githubusercontent.com/58094393/74110504-1e4273

[2020-02-11 16:21] erichiggins commented on #28
@cyclepath37 Great setup -- thanks for the photo!

[2020-02-16 17:37] erichiggins commented on #28
I've had a chance to try the new cable and it worked great for me! I'll try doing a few rapid reboots today just to verify that it's more stable, but so far so good.

[2020-02-25 00:01] Shooter0423 opened #33 "PWM control for Vibro Motor"
Wonder if anyone has worked on using pwm to control the vibration motor. A few weeks back someone mentioned it in a post they made, but I cant seem to find it now, and @erichiggins has mention it a time or two. I am trying a rewrite of motor.js  to use pwm as implemented in rpio. This doc is what i'm using https://www.npmjs.com/package/rpio reference. I have got the program to not throw any errors

[2020-02-26 20:44] erichiggins commented on #33
I created a separate branch for you called [`feature/pwm-motor`](https://github.com/ammolytics/projects/tree/feature/pwm-motor) which includes a [PWM-based rewrite of the motor control](https://github.com/ammolytics/projects/commit/1a65f3ac08a950ba728226acffae91924f7936d5).

Hopefully that helps you to explore.

[2020-03-10 21:07] ande7824 commented on #30
Hi Eric,
I have everything working with your alpha image, but the trickler is severely overshooting (0.2-0.5gr) for each fill.  I can't seem to edit the motor.js file because its listed as ready only.  However I am logged in as root and the permissions seem to show that I have read and write permissions.  Can you help me out? I can't figure out what I am missing.

I am editing with vim and through

[2020-03-10 21:55] erichiggins commented on #30
@ande7824 The OpenTrickler code that lives on the `CODE` partition is read-only from the perspective of the Pi. This is intentional for a few reasons, but mainly so that nothing about the Pi can alter change the code that needs to be run.

If you remove the SD card and put it into your computer, you will be able to modify it. That is the intended approach, since you can make changes on your comput

[2020-03-10 23:26] ande7824 commented on #30
Hi Eric- great suggestions that I hadn't even thought of from the physical trickler setup perspective.

I did try to modify the SD card files but Windows keeps saying I need to format the card :/. I may just try reflashing it with some speed changes and try to standardize the angle and initial priming process to see if I can get things to improve.  Thanks for the great blog post and quick reply!

[2020-04-09 20:49] ian99rt opened #35 "Use other RS232 scales i.e. Acculab"
#trickler I'd like to branch off and make the Pi code work with an Acculab V-1mg over a similar but slightly different RS232 protocol.

What files and variables would control both the RS-232 comms setup and message definition / decoding?

[2020-04-09 21:06] erichiggins commented on #35
Great! Actually you don't have to branch at all, the intent is for the Open Trickler to support a variety of scale brands & models, but it requires contributions from folks like you!

Use the code in [`and-fxfz.js`](https://github.com/ammolytics/projects/blob/develop/trickler/peripheral/lib/and-fxfz.js) for reference and create your own version, providing the same variables and methods used by oth

[2020-04-10 00:26] ian99rt commented on #35
Awesome Eric! thanks for adding the label too. I'm a newbie to github. I'm completely out of the loop when it comes to javascript. I'll do my best to read thru the code and try and figure things out. Any way I can communicate with you that won't be all over github to view my ignorance?

[2020-04-10 00:48] erichiggins commented on #35
This is a great place for the communication because it's easier to maintain context, share code snippets, and get help from others working on similar things. That helps me out because it can be challenging to keep up with everyone, I end up being a bottleneck whereas on here, anyone can chime in and help out. Nobody will shame you here, especially for trying to learn something new!

That being sai

[2020-04-10 00:59] ian99rt commented on #35
http://photos.labwrench.com/equipmentManuals/355-5466.pdf

This is where i'm seeing the info for the acculab serial comms.

Basic serial setup for acculab:

Bits per second: 1200 (can be set to as high as 9600)
Data bits: 7 (not configurable)
Parity: Odd (configurable)
Stop bits: 1 (configurable 1 or 2 stop bits)
Flow control: Software

[2020-04-10 05:27] erichiggins commented on #35
Hm. I haven't worked with this scale myself and the documentation doesn't make it very clear how it actually works, so you may be in for a steeper learning curve.

The library I'm using to work with serial port communications is this:
https://serialport.io/
The documentation is pretty good, so you shouldn't have too much trouble.

If you're more familiar with another programming language than Java

[2020-04-10 14:15] ian99rt commented on #35
Eric I was going to work with raw comms over something Serial and the PC to create a road map of commmands. It looks like there is not alot of controls over RS-232.

Their description of the controls seems odd to me as well but this seems to be the list of available controls. This scale does stay on the last unit of measure used so I don't think we'd need to swap back and forth between units.

Def

[2020-04-10 14:27] ian99rt commented on #35
I've also go a friend who is a computer/software engineer to help out a bit. Surprisingly hes not on github but maybe soon.

Well I have goofed on scale selection. The scale I bought on ebay (for $34 shipped) doesn't have grains as a unit of measure (only g, oz, ct, dwt) ..... Kind of annoying but not the end of the world. When you switch between grains and grams on the android app you showed on y

[2020-04-10 14:42] ian99rt commented on #35
Well I may have goofed. The scale I bought on ebay doesn't go into grains (only g, oz, ct, dwt) ..... Kind of annoying but not end of the world. When you switch between grains and grams on the android app you showed on your video that it automatically converts between the two hopefully that will still function without doing lots of manual conversion.

[2020-04-10 15:32] erichiggins commented on #35
That's a great approach! From what I can see the commands it provides should be fine. All you really need is the current weight and if the scale is stable. If it sends the unit of measure as well, that's a bonus, but you can work around it.

That is interesting. In your case you may want to just leave it on grams, which will offer the best resolution anyway.

That's ok for now. It may make it a li

[2020-04-10 15:41] erichiggins commented on #35
The scale does most of the work on that front, actually. The conversion is simple arithmetic, so not a huge problem though there are gotchas when writing code that deals with decimals.

[2020-04-10 23:23] Passaita commented on #21
While I can't help with the code I think code can be universal and hardware (servo) optional with the following algorithm. When scale is stabilized at zero or above and regular trickler cycle starts system could send on GPIO 17 or 27 PWM servo signal from 0 to 90 to 0 (someone help here. I don't have powder dispenser and not sure what is the lever move in degrees). Then continue to execute trickle

[2020-04-11 12:04] Passaita commented on #28
Hello everyone, first of all thank you for moving this ahead. Really great addition to our hobby.
I am waiting for my scale to be delivered and decided to pre-build trickler in advance. A couple attempts to build the code on raspbian using installation script failed (mostly due to my bad internet some packages wouldn't download) so I installed the image.
After reading the thread looks like Bloetoo

[2020-04-11 21:01] Shooter0423 commented on #28
@Passaita welcome to the group. You are correct about the cable, definitely buy the cable @cyclepath37 suggested, im not sure if @erichiggins update the list of materials.
The Bluetooth is very stable, the old cable was causing a connection error between the RPi and the scale, but the new cable seems to have resolved that problem.
I'm in the process of testing an "auto-throw" feature using a Lee D

[2020-04-11 21:23] Passaita commented on #28
I don't have a powder measure to play with and to be honest I am currently 3D designing powder trickler just for this project as I didn't have one. I know, I know, I am sorry, no comments :)
Stepper motors are great and I used them in the 3D printer but the complexity with drivers scares me. Maybe because I have a lot of experience in RC planes and prefer servos I built controllers for my blinds a

[2020-04-17 15:04] Passaita commented on #28
My scale arrived today! Will try to connect everything tonight.

[2020-04-19 12:41] Passaita commented on #28
It works!!!
As described above pin was changed from 15 to 12 and pre-built image works.
Dispensing is way too slow but it is most likely because of my homemade trickler. Maybe pipe is too long, I made it so it can reach the center of the scale. Or vibro motor that I could source at a local shop isn't strong enough.
Anyway even with really slow dispensing on the last stage of loading code doesn't p

[2020-04-19 14:59] Shooter0423 commented on #28
@Passaita good to hear that thing worked well. I had some of the same issues with the trickler. I built a trickler out of parts on hand but did use the vibro motor listed in the BOM. I rewrote the portion of code that @erichiggins had developed. Eric had set me up a discussion thread for PWM control, I didn't have much success in that area but that thread might be a place to continue this discussi

[2020-04-19 16:13] Datakalu commented on #28
![2113FD5D-4D19-43A0-BE23-D77FD1D50156](https://user-images.githubusercontent.com/59381352/79692789-52ee3d80-8224-11ea-8021-1ec00021f65a.jpeg)
I put together a knock off of a Dandy Trickler that when tuned to the powder with the dampening weight it will hit the target weight spot on every time with either ball or stick propellants.
I’ll throw a bulk charge to within a 1/2 grain or so and I charge

[2020-04-19 18:09] Passaita commented on #28
- PWM control, I didn't have much success in that area but that thread might be a place to continue this discussion and keep this thread focused on installation. _Absolutely agree and will continue there. This thread seemed to be the most live one? Looking forward to have a look at it. I have no experience with JS but some basic knowledge in Python._
- What powder are you using, i'm using Tac and

[2020-04-19 18:31] Datakalu commented on #28
Brilliant!

[2020-04-19 23:36] Shooter0423 commented on #28
@Datakalu very nice looking trickler
@Passaita same with yours
Reloder 17 probably meters a lot like varget,
I forgot to add in my earlier post that I throw the bulk of the charge to within 0.5gr with a powder measurer then let the trickler finish. If I where to try to trickler the entire charge (approx. 24 gr) it would take a long time. I'm thinking to get an efficient speed you need to throw the

[2020-04-20 02:04] erichiggins commented on #33
**Edit:** I corrected a few statements I made in my original post to reflect that PWM is still useful, but the frequencies available are too fast to match those that the Open Trickler uses today. All this means is that PWM can't be a drop-in replacement to achieve the same ON/OFF cycles that I coded by hand. Instead, PWM could potentially be used to speed up and slow down the motor more smoothly.

[2020-04-20 17:43] erichiggins commented on #33
One more clarification here:

The clock division setting seems to define the actual PWM frequency, which isn't affected by other settings.

e.g. If you divide the  19.2MHz clock by 512, the result is a PWM frequency of 37.5kHz. No matter what Range you use (10, 100, or 1000), and no matter what Data you use to set a duty cycle, there will only be one ON and one OFF setting for each waveform. That

[2020-04-25 02:18] erichiggins commented on #33
With the motors I'm using, the clock divisions of 256 and 512 seemed to give the best results at a 10% duty cycle. They were barely audible, but perhaps enough to slowly trickle single kernels. Anything higher than that (1024 +) seemed to be too fast to even activate the motor with a 10% duty cycle.

[2020-05-07 20:08] erichiggins commented on #14
I've added the Open Trickler app back to the Apple TestFlight store:
https://testflight.apple.com/join/1XSoUPL3

[2020-05-07 22:43] Shooter0423 commented on #14
Thanks @erichiggins, the link says its good for 90 days.
To the Group
Am I the only one using an Apple device. I use it on an old phone, an iPhone 5.

[2020-05-07 23:05] erichiggins commented on #14
@Shooter0423 No, you're definitely not the only one using it.

[2020-05-30 08:15] erichiggins commented on #28
Hey everyone! I've updated the instructions on the main [README](https://github.com/ammolytics/projects/blob/develop/trickler/peripheral/README.md) to reflect the work that was done here to use ready-to-flash images. I've also added links to two new images: production and dev.

### Notable changes:
- The `ecosystem.config.js` file now assumes you've soldered motor control to PIN 12. If you're stil

[2020-05-30 08:15] #28 closed, assigned to erichiggins

[2020-05-30 23:49] erichiggins commented on #21
I believe @MrMr-No did something similar by [calling some Python code](https://github.com/ammolytics/projects/issues/28#issuecomment-583269764) they wrote. Perhaps they can chime in here to share their code so that it can be added to the project?

[2020-05-30 23:50] erichiggins commented on #24
Closing this specific ticket in favor of the UI redesign #29

[2020-05-30 23:50] #24 closed, assigned to nobody

[2020-06-05 07:35] MrMr-No commented on #21
[steper.py.txt](https://github.com/ammolytics/projects/files/4734605/steper.py.txt)
 case (tickDelta > 1499 && this.scale.weight === 0  ) :

        console.log('*******Steper Python code******')
        console.log(`Current speed ${tickDelta} `)
       let {PythonShell} = require('python-shell')
PythonShell.run('/home/pi/projects/trickler/peripheral/lib/steper.py', null, function(err) {
  if (err

[2020-06-05 07:39] MrMr-No commented on #21
I modified tricckler.js file to execute steper.py script (attached above) when you need more then 30 grains of powder  in same directory as trickler.js

[2020-06-06 19:42] MrMr-No commented on #21
![PiStepper03](https://user-images.githubusercontent.com/59658625/83953179-6c802e80-a83e-11ea-939d-1892b4a06081.png)
Here u have how to connect stepmotor drv 8825 to pi

[2020-06-06 21:07] erichiggins commented on #21
@MrMr-No This is excellent, thank you!

[2020-06-06 21:40] MrMr-No commented on #21
in action
https://rapidgator.net/file/f219cb8233dc6f66fba69269c4b7b101/IMG_0077.MOV.html

[2020-06-08 02:10] erichiggins commented on #21
Embedding the Python code shared above to avoid the extra download:

[code]

[2020-06-15 19:55] jasza2 commented on #5
Great project, thanks for sharing. I will try port it to the teensy3.5 chip which is super fast at writing data to SD card, I also regularly use arrays to store GPS and other sensor data so i think it would be possible to buffer the data and then dump it to the SD card after a shot.

I logging data against an actual time of day is important, as well as easy and live downloads to mobile devices , I

[2020-06-15 20:09] erichiggins commented on #5
@jasza2 That's great! I'd love to see the results!

[2020-06-15 20:21] jasza2 commented on #1
Great effort here, nice to see  compact, neat arduino code.
I think we need to buffer the data in arrays and then only store it once a shot is reported, and discard all of the un-interesting data. I can work on that.

Did anyone get this ported across to ESP32? I can do that if anyone is interested in downloading the data to a mobile device/pc, the ESP32 basically creates a web page that you can v

[2020-06-23 22:29] RowanNL opened #39 "Connect to mettler toledo"
Hello guys,

I really like this project! I’m a electrical engineer but Unfortunately Im very bad in programming, I’m more a 400VAC guy... Can someone help me to re-write the code for a mettler Toledo balance? It uses MT SICS

[MT SICS - datasheet](https://www.mt.com/mt_ext_files/Editorial/Generic/7/MT-SICS_for_Excellence_Balances_BA_Editorial-Generic_1116311007471_files/Excellence-SICS-BA-e-117807

[2020-06-24 06:36] erichiggins commented on #39
Thanks for linking to the docs, that makes a huge difference!

I've seen a lot of requests for a lot of different scales, which makes me think that I should add some simple scale debugging mode that people can turn on and just see what's coming over the wire so that code can more easily be written to adapt to different brands and models.

[2020-06-25 09:10] RowanNL commented on #39
It's the least i could do...

I've found also something else on github, maybe it helps?     [https://github.com/janelia-pypi/mettler_toledo_device_python](url)

kind regards,

[2020-07-13 11:03] jasza2 commented on #5
@erichiggins FYI I had a sparkfun Razor IMU on hand: https://www.sparkfun.com/products/14001 so I wrote a data logger similar to yours, with the addition of a small OLED screen that displays  the accelerometer chart and max. G. force experienced immediately after the shot.
It sits dormant, logging a few seconds of data in memory, and discarding it, until it gets a G force of over 2.0G and then it

[2020-07-14 19:22] erichiggins commented on #5
@jasza2 Cool!

I loaned out the unit that I built and the people who are using it have it set to the 16G setting. Going from memory, the issue is that the higher G settings trade off resolution. So, it depends on what data on which axes you hope you track. For example, if you just want to track the trigger and recoil, you only need one axis and it could be fairly coarse. However, if you want to tr

[2020-07-27 00:44] erichiggins commented on #28
Hey everyone! I created a Discord to make it easier for folks who are building an Open Trickler to chat with and support each other.

https://discord.gg/Bx3ynT

This invite link expires in 1 day to keep out spammers, but feel free to email me directly and I'd be happy to invite you!

[2020-07-27 00:52] erichiggins commented on #39
Hello! I created a Discord to make it easier for folks who are building an Open Trickler to chat with and support each other.

https://discord.gg/Bx3ynT

This invite link expires in 1 day to keep out spammers, but feel free to email me directly and I'd be happy to invite you!

[2020-07-27 00:52] erichiggins commented on #35
Hello! I created a Discord to make it easier for folks who are building an Open Trickler to chat with and support each other.

https://discord.gg/Bx3ynT

This invite link expires in 1 day to keep out spammers, but feel free to email me directly and I'd be happy to invite you!

[2020-07-27 00:52] erichiggins commented on #18
Hello! I created a Discord to make it easier for folks who are building an Open Trickler to chat with and support each other.

https://discord.gg/Bx3ynT

This invite link expires in 1 day to keep out spammers, but feel free to email me directly and I'd be happy to invite you!

[2020-07-27 00:54] erichiggins commented on #5
Hello! I wanted to make it easier for folks building these units to chat with and support each other, so I setup a Discord!

https://discord.gg/KvmKmK

This link expires in 1 day to keep out spammers, but feel free to contact me directly if you'd like an invite.

[2020-08-10 16:34] ande7824 opened #41 "Can't view logs in browser"
Issue: When I view the hyperlinks in the opening page, both links come up with just blank pages.

Build information:
-  I can't access the open trickler with "http://opentrickler.local" but I can access via the IP shown on my router, so I am not sure if this is part of the issue or not.
-  I am using the most recent DEV image flashed with Balena Etcher.
-  I am using the same components linked in

[2020-08-10 16:59] erichiggins opened #42 "Write OpenTrickler FAQ"
Many of the questions for the OpenTrickler could be answered in an FAQ.

Common items:

- Not showing up on BT (bad adapter, scale not connected/detected)
- Support for other scales
- Accessing the CODE partition
- Will do you make it for Arduino/ESP/etc
- Powder drop support
- Accessing the log web page  #41

[2020-08-10 17:05] erichiggins commented on #41
If you can't access the opentrickler.local website, then there are a few things it could be.

- WiFi not configured on the device (you said you can access by IP, so this isn't it)
- Not connected to the same network (if you phone is using cellular but not WiFi. Also not the case for you)
- Mobile device using VPN (this may prevent the domain name from resolving as it changes your DNS settings)
- M

[2020-08-13 17:58] ande7824 commented on #41
Hi Eric,
OK, some additional info.
- I do have more than one network, but I am accessing via wifi on the same network as the open trickler with a Dell laptop.
- I changed the network to a different one on the opentrickler and cannot access the logs
- I tried with chrome and microsoft edge both with "http://opentrickler.local" and the assigned IP address.  For both browsers, I cannot access with "h

[2020-08-13 18:02] ande7824 commented on #42
This may help someone, but I figured out how to access the CODE partition in Windows 10 by utilizing the Windows disk utility with the SD card in my computer.  The CODE partition shows up in the card but didn't have a drive letter assigned so I right clicked and assigned a letter and it showed up right away.

[2020-08-13 23:47] erichiggins commented on #41
Interesting. We may need to walk through this. [Join us on Discord](https://discord.gg/WqTbyK2), where there are several other folks building Open Trickler units and helping each other out.

[2020-08-14 07:55] erichiggins commented on #42
Added here:
https://github.com/ammolytics/projects/blob/develop/trickler/README.md#frequently-asked-questions

[2020-08-14 07:55] #42 closed, assigned to erichiggins

[2020-08-14 20:30] erichiggins commented on #41
@ande7824 If you were able to resolve this, would you mind adding notes about what you needed to do to fix it?

[2020-08-15 01:49] ande7824 commented on #41
I fixed it by adding a fixed IP for the open trickler in my router. Then I added opentrickler.local and the assigned IP to the client host file.  I followed instructions here:  https://www.siteground.com/kb/how_to_use_the_hosts_file/
I did the fixed IP as a result of a suggestion while googleing this issue but can't find the page again for why.  I am fairly savvy with computers but networking is o

[2020-08-15 01:49] #41 closed, assigned to nobody

[2020-08-19 08:25] alien2108 opened #43 "Mock interface does not work"
https://github.com/ammolytics/projects/blob/c9a3dc6b3b893de39ef160e6f5b9179b719764e2/trickler/peripheral/lib/mock-scale.js#L165

/home/pi/trickler/peripheral/lib/mock-scale.js:165
    this._unit = trickler.TricklerUnits.GRAINS
                                        ^
TypeError: Cannot read property 'GRAINS' of undefined
    at new MockScale (/home/pi/trickler/peripheral/lib/mock-scale.js:165:41)

[2020-08-19 20:38] erichiggins commented on #43
This is my fault. I added this mock interface so the developer who helped create the mobile app had something to work with (because they don't own a scale). I have not maintained the mock interface, so I'm not entirely surprised that it broke.

I've been rethinking the workflow though, so I'd like to hear your thoughts.

Right now, Bluetooth doesn't advertise unless the scale is working. Seemed li

[2020-08-25 09:13] alien2108 commented on #43
I would rather suggest you do the following:

- Make bluetooth optional and implement direct functions to be called (with bluetooth disabled):
a) setWeight
b) getWeight
c) getStatus
d) mainLoop (here you place code that should be executed all the time as refresh display, read keys...)

Basically all you display on bluetooth phone I would like to display on a simple Pi Zero Display HAT as https://w

[2020-08-25 19:10] erichiggins commented on #43
I see. Does this relate to the mock scale issue somehow? If you're not planning on using Bluetooth, then this falls a bit further outside of the Open Trickler intended design.

Since it's an open source project, you're welcome to fork and modify the code to meet your use case. A lot of folks have different design ideas that they share with me, but I cannot commit to writing several different versi

[2020-09-01 18:20] erichiggins opened #45 "iOS app issues"
- **Version: `1.1.0`**
- **Build: `4`**

**Issues:**

- The update brought back seeing only “g” for the units.
- attempting to decrement beyond .02 won’t go to 0 and if, for example, you hit decrement 3 times it will take 3 increments before it will increase

**Notes:**

I’m using the new iPhone SE.  Same screen size as the 6 which I had before.

[2020-09-13 01:58] TQBCPC commented on #30
@Shooter0423 Shooter0423 what resistors and LED did you use?

@erichiggins, can you update the SD Card image with this feature?

[2020-09-25 10:01] boki1397 opened #47 "Trickler doesn´t work"
Hello at all.
I´m a greenhorn with raspberry and programming and i need help.

first I set up and built everything according to the instructions.

i have connected the raspberry to the app.

after entering the weight and the start button, the trickler does not run.

if I drive the diode directly with electricity, the motor runs

i have no idea where the error is.

can someone help me?

I can also

[2020-09-25 18:05] erichiggins commented on #47
Hey @boki1397 !

It's possible that there's an issue which pin you're connected to for activating the motor.

If you'd like to join us on Discord, there are a lot of other people who have built Open Tricklers that can help out by sharing their experience. I think we may even have a few other German-speakers in there too!
https://discord.gg/WqTbyK2

Otherwise, perhaps you can share a photo of your

[2020-11-27 10:39] TQBCPC commented on #21
Can you please share your modified trickler.js file?

[2021-02-05 20:20] erichiggins commented on #30
Quick note about this ticket. It's pretty easy to control the built-in LED on the trickler. My question is, what would make sense for using it for status? A pre-defined series of blinks? Solid vs blinking? Pulsing? Fast vs slow blinking? A combo of all of these?

[2021-02-13 13:58] boki1397 commented on #21
@MrMr-No Hello,
your video is impressive! and your drawing is very good.
which stepmotor did you use?
it is possible to make the complete modified image available here?
unfortunately i have no idea about the programming or software operation in raspberry.
it would certainly be of great help to many like me.
many thanks for your effort.

[2021-02-13 22:27] MrMr-No commented on #21
Tnx! Unfortunately, Isn’t so simple. I can post image, but I have designed completely new Hornady’s powders rotor to working with bipolar step motor like You can see on video. Perhaps  is better solution to waiting on @ erichiggins new project to rewrite code to Python to see what we can do.

[2021-02-14 09:36] boki1397 commented on #21
@MrMr-No
Thank you for your prompt reply.
i watched the video several times and i saw the 3d parts.
i have a 3d printer and i think i can copy it.
if you think it would be better to wait for the python programming, then i will be patient.
thank you for making your knowledge and work available to the general public.
I also like to help others. unfortunately that's not my area of ​​expertise.

[2021-08-15 06:32] erichiggins commented on #47
Has your issue been resolved?

[2021-08-15 06:34] erichiggins commented on #33
PWM motor control is now fully supported!

[2021-08-15 06:34] #33 closed, assigned to nobody

[2021-08-15 06:35] erichiggins commented on #30
I've updated the trickler to change the built-in LEDs with status. This behavior can be changed/modified, and other LEDs can be used simply by modifying the included [`opentrickler_config.ini`](https://github.com/ammolytics/projects/blob/develop/trickler/peripheral/opentrickler_config.ini) file.

[2021-08-15 06:35] #30 closed, assigned to nobody

[2021-08-15 06:38] erichiggins commented on #45
This issue has been corrected, somewhat, but the font size of the button changes with the phone text size settings.

[2021-08-15 06:38] #45 closed, assigned to erichiggins

[2022-02-08 20:54] Jparent2442 opened #58 "Projects"

[2022-04-10 18:35] Diaz-762 opened #59 "Raspberry Pi 3 B and G&G JJ200B scale"
Hi ladies and gentlemen!

I want to share the experience to get the code running on a Raspberry Pi 3 B in combination with a G&G JJ200B laboratory scale (German manufacturer).
Eric was a great help with the code on the Pi. More informations follow if someone is interrested.

Regards

Patrick

[2022-04-10 18:45] Diaz-762 commented on #59
Manual of the JJ200B (only available in German):
[JJB.pdf](https://github.com/ammolytics/projects/files/8459683/JJB.pdf)

[2022-04-12 06:11] erichiggins commented on #59
Another version of the manual for English speakers
https://www.gandg.de/download/anleitungen/englisch/JJ-B%20Englisch.pdf

[2022-08-09 19:34] HayaminiNL commented on #59
Hi Patrickk83, i am interested in setting up the Pi3B with opentrickler.
I am struggling with it for a couple of nights now and did not succeed yet.

I am using the A&D FX120i and already pulled this repos to the Pi3B, because any other Pi-board is hard to get at the moment and the Pi3B I have laying around and it was collecting some dust until a couple days ago.

Thank you in advance!

[2022-08-09 19:34] HayaminiNL commented on #59
Hi Patrickk83, i am interested in setting up the Pi3B with opentrickler.
I am struggling with it for a couple of nights now and did not succeed yet.

I am using the A&D FX120i and already pulled this repos to the Pi3B, because any other Pi-board is hard to get at the moment and the Pi3B I have laying around and it was collecting some dust until a couple days ago.

Thank you in advance!

[2022-08-12 19:42] erichiggins commented on #59
@HayaminiNL Join us on Discord to discuss this and get some support!
https://discord.gg/WqTbyK2